# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: pecorino # NOTE: update this with your service name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage}
  region: ap-northeast-1
  timeout: 10 # optional, in seconds, default is 6

# you can define service wide environment variables here
  environment:
    MONGOLAB_URI: ${env:MONGOLAB_URI_${opt:stage}}
    COGNITO_USER_POOL_ID: ${env:COGNITO_USER_POOL_ID_${opt:stage}}
    COGNITO_REGION: ${env:COGNITO_REGION_${opt:stage}}
    DEBUG: ${env:DEBUG_${opt:stage}}

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can add packaging information here
#package:
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**

functions:
  hello:
    handler: dst/handler.hello
    events:
      - http:
          path: ""
          method: get

  searchAccounts:
    handler: dst/accounts.search
    events:
      - http:
          path: accounts
          method: get
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              querystrings:
                accountNumbers: false
                statuses: false
                name: false
                limit: true

  openAccount:
    handler: dst/accounts.open
    events:
      - http:
          path: accounts
          method: post
          authorizer: ${self:custom.adminUserAuth}
          documentation:
            summary: "Create something"
            description: "Creates the thing you need"
            tags:
              - "Data Creation"
              - "Some other tag"
            requestBody:
              description: "Request body description"
            requestModels:
               "application/json": DoSomethingRequest
            methodResponses:
              -
                statusCode: '200'
                responseModels:
                  "application/json": DoSomethingResponse
              - ${self:custom.commonModelSchemaFragments.MethodResponse400Json}

  closeAccount:
    handler: dst/accounts.close
    events:
      - http:
          path: accounts/{accountNumber}/close
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                accountNumber: true

  searchAccountMoneyTransferActions:
    handler: dst/accounts.searchMoneyTransferActions
    events:
      - http:
          path: accounts/{accountNumber}/actions/moneyTransfer
          method: get
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                accountNumber: true

  searchActions:
    handler: dst/actions.search
    events:
      - http:
          path: actions
          method: get
          authorizer: ${self:custom.adminUserAuth}

  startDepositTransaction:
    handler: dst/transactions/deposit.start
    events:
      - http:
          path: transactions/deposit/start
          method: post
          authorizer: ${self:custom.adminUserAuth}

  confirmDepositTransaction:
    handler: dst/transactions/deposit.confirm
    events:
      - http:
          path: transactions/deposit/{transactionId}/confirm
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  cancelDepositTransaction:
    handler: dst/transactions/deposit.cancel
    events:
      - http:
          path: transactions/deposit/{transactionId}/cancel
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  startTransferTransaction:
    handler: dst/transactions/transfer.start
    events:
      - http:
          path: transactions/transfer/start
          method: post
          authorizer: ${self:custom.adminUserAuth}

  confirmTransferTransaction:
    handler: dst/transactions/transfer.confirm
    events:
      - http:
          path: transactions/transfer/{transactionId}/confirm
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  cancelTransferTransaction:
    handler: dst/transactions/transfer.cancel
    events:
      - http:
          path: transactions/transfer/{transactionId}/cancel
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  startWithdrawTransaction:
    handler: dst/transactions/withdraw.start
    events:
      - http:
          path: transactions/withdraw/start
          method: post
          authorizer: ${self:custom.adminUserAuth}

  confirmWithdrawTransaction:
    handler: dst/transactions/withdraw.confirm
    events:
      - http:
          path: transactions/withdraw/{transactionId}/confirm
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  cancelWithdrawTransaction:
    handler: dst/transactions/withdraw.cancel
    events:
      - http:
          path: transactions/withdraw/{transactionId}/cancel
          method: put
          authorizer: ${self:custom.adminUserAuth}
          request:
            parameters:
              paths:
                transactionId: true

  authorizerFunc:
    handler: dst/authorizer.handler

  moneyTransfer:
    handler: dst/tasks/moneyTransfer.default
    timeout: 300
    events:
      - schedule: rate(1 minute)

#    The following are a few example events you can configure
#    NOTE: Please make sure to change your handler code to work with those events
#    Check the event documentation for details
#    events:
#      - http:
#          path: users/create
#          method: get
#      - s3: ${env:BUCKET}
#      - schedule: rate(10 minutes)
#      - sns: greeter-topic
#      - stream: arn:aws:dynamodb:region:XXXXXX:table/foo/stream/1970-01-01T00:00:00.000
#      - alexaSkill: amzn1.ask.skill.xx-xx-xx-xx
#      - alexaSmartHome: amzn1.ask.skill.xx-xx-xx-xx
#      - iot:
#          sql: "SELECT * FROM 'some_topic'"
#      - cloudwatchEvent:
#          event:
#            source:
#              - "aws.ec2"
#            detail-type:
#              - "EC2 Instance State-change Notification"
#            detail:
#              state:
#                - pending
#      - cloudwatchLog: '/aws/lambda/hello'
#      - cognitoUserPool:
#          pool: MyUserPool
#          trigger: PreSignUp

#    Define function environment variables here
#    environment:
#      variable2: value2

custom:
  adminUserAuth:
    name: authorizerFunc
    resultTtlInSeconds: 0
    identitySource: method.request.header.Authorization
    # identityValidationExpression: someRegex
    type: token

  # You must have the documentation object
  documentation:
    # this is general info about the API
    api:
      info:
        version: '1.0.0'
        title: Example API
        description: Some example API
        termsOfService: https://www.google.com
        # contact:
        #   name: The contact person
        #   url: https://www.serverless.com/framework
        #   email: some-fake@email.com
        # license:
        #   name: The license
        #   url: https://www.github.com
      tags:
        -
          name: Tag1
          description: The first tag
        -
          name: Tag2
          description: That other tag that we all love
    # Now we describe all the models that we use
    models:
      -
        name: MessageResponse
        contentType: "application/json"
        schema:
          type: object
          properties:
            message:
              type: string
      -
        name: DoSomethingRequest
        contentType: "application/json"
        schema:
          type: array
          items:
            type: string
      -
        name: DoSomethingResponse
        contentType: "application/json"
        schema:
          type: object
          properties:
            result:
              type: string
            submittedItems:
              type: number
      -
        name: 400JsonResponse
        contentType: "application/json"
        schema:
          type: object
          properties:
            message:
              type: string
            statusCode:
              type: number
  commonModelSchemaFragments:
    # defining common fragments means you can reference them with a single line
    MethodResponse400Json:
      statusCode: '400'
      responseModels:
        "application/json": 400JsonResponse

# you can add CloudFormation resource templates here
# resources:
#   Resources:
#    NewResource:
#      Type: AWS::S3::Bucket
#      Properties:
#        BucketName: my-new-bucket
#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"

plugins:
  - serverless-aws-documentation
